	#turn { 
		width: 25px;
		height: 25px;
		left: 25px;
		top:25px;
		background-color: transparent;
		border: 100px solid transparent;
		border-left:  100px solid grey;
		border-radius: 50%;
		transform: rotate(45deg);
		position: absolute;
	}
	/*left strip*/
	#ls { 
		width: 225px;
		height: 225px;
		top: 20px;
		left: 20px;
		background-color: transparent;
		border: 5px solid transparent;
		border-left:  5px solid #ffdd00;
		transform: rotate(45deg);
		border-radius: 50%;
		position: absolute;
	}
	/*right strip*/
	#rs { 
		width: 15px;
		height: 15px;
		left: 125px;
		top:125px;
		background-color: transparent;
		border: 5px solid transparent;
		border-left:  5px solid #ffdd00;
		transform: rotate(45deg);
		border-radius: 50%;
		position: absolute;
	}
	/*vertical*/
	#ver{
		width:100px;
		height:25px;
		left:25px;
		background-color:grey;
		bottom:0px;
		position:absolute;
	}
	/*left strip vertical*/
	#lsv{
		width:5px;
		height:25px;
		left:20px;
		background-color:#ffdd00;
		bottom:0px;
		position:absolute;
	}
	/*right strip vertical*/
	#rsv{
		width:5px;
		height:25px;
		right:20px;
		background-color:#ffdd00;
		bottom:0px;
		position:absolute;
	}
	/*horizontal*/
	#hor{
		width:25px;
		height:100px;
		right:0px;
		background-color:grey;
		top:25px;
		position:absolute;
	}
	/*left strip horizontal*/
	#lsh{
		width:25px;
		height:5px;
		right:0px;
		background-color:#ffdd00;
		top:20px;
		position:absolute;
	}
	/*right strip horizontal*/
	#rsh{
		width:25px;
		height:5px;
		right:0px;
		background-color:#ffdd00;
		top:125px;
		position:absolute;
	}
	#main {
	   left: 25px;
	   width: 100px;
	   height: 150px;
	   background-color: grey;
	   position: absolute;
	  }
	/*left strip for straight road*/
	#lss {
	   left: 20px;
	   width: 5px;
	   height: 150px;
	   background-color: #ffdd00;
	   position: absolute;
	  }
	/*right strip for straight road*/
	#rss {
	   right: 20px;
	   width: 5px;
	   height: 150px;
	   background-color: #ffdd00;
	   position: absolute;
	  }
	.crossroads{
		width: 150px;
		height: 150px;
		background-color: #55aa55;
		position: relative;
	}
	.crossroads #centre { 
		width: 100px;
		height: 100px;
		left: 25px;
		top:25px;
		background-color: grey;
		position: absolute;
	}
	/*top centre*/
	.crossroads #tc { 
		width: 100px;
		height: 25px;
		left: 25px;
		top: 0px;
		background-color: grey;
		position: absolute;
	}
	/*top left strip*/
	.crossroads #tls { 
		width: 5px;
		height: 25px;
		left: 20px;
		top:0px;
		background-color: #ffdd00;
		position: absolute;
	}
	/*top right strip*/
	.crossroads #trs { 
		width: 5px;
		height: 25px;
		right: 20px;
		top:0px;
		background-color: #ffdd00;
		position: absolute;
	}
	/*left centre*/
	.crossroads #lc { 
		width: 25px;
		height: 100px;
		left: 0px;
		top: 25px;
		background-color: grey;
		position: absolute;
	}
	/*left right strip*/
	.crossroads #lrs { 
		width: 25px;
		height: 5px;
		left: 0px;
		top: 20px;
		background-color: #ffdd00;
		position: absolute;
	}
	/*left left strip*/
	.crossroads #lls { 
		width: 25px;
		height: 5px;
		left: 0px;
		bottom: 20px;
		background-color: #ffdd00;
		position: absolute;
	}
	/*bottom centre*/
	.crossroads #bc { 
		width: 100px;
		height: 25px;
		left: 25px;
		bottom: 0px;
		background-color: grey;
		position: absolute;
	}
	/*bottom right strip*/
	#brs { 
		width: 5px;
		height: 25px;
		right: 20px;
		bottom: 0px;
		background-color: #ffdd00;
		position: absolute;
	}
	/*bottom left strip*/
	#bls { 
		width: 5px;
		height: 25px;
		left: 20px;
		bottom: 0px;
		background-color: #ffdd00;
		position: absolute;
	}
	/*right centre*/
	.crossroads #rc { 
		width: 25px;
		height: 100px;
		right: 0px;
		top: 25px;
		background-color: grey;
		position: absolute;
	}
	/*right right strip*/
	.crossroads #rrs { 
		width: 25px;
		height: 5px;
		right: 0px;
		bottom: 20px;
		background-color: #ffdd00;
		position: absolute;
	}
	/*right left strip*/
	.crossroads #rls { 
		width: 25px;
		height: 5px;
		right: 0px;
		top: 20px;
		background-color: #ffdd00;
		position: absolute;
	}
	/*straight*/
	#s { 
		width: 150px;
		height: 100px;
		left: 0px;
		top: 25px;
		background-color: grey;
		position: absolute;
	}
	/*straight top strip*/
	#sts { 
		width: 150px;
		height: 5px;
		left: 0px;
		top: 20px;
		background-color: #ffdd00;
		position: absolute;
	}
	/*bottom straight centre*/
	#bsc { 
		width: 100px;
		height: 25px;
		left: 25px;
		bottom: 0px;
		background-color: grey;
		position: absolute;
	}
	/*bottom straight left strip*/
	#bsls { 
		width: 25px;
		height: 5px;
		left: 0px;
		bottom: 20px;
		background-color: #ffdd00;
		position: absolute;
	}
	/*bottom straight right strip*/
	#bsrs { 
		width: 25px;
		height: 5px;
		right: 0px;
		bottom: 20px;
		background-color: #ffdd00;
		position: absolute;
	}
	.road1{
		width: 150px;
		height: 150px;
		position: relative;
		background-color: #55aa55;
	}
	.road2 {
		width: 150px;
		height: 150px;
		position: relative;
		transform: rotate(90deg);
		background-color: #55aa55;
	}
	.road3{
		width: 150px;
		height: 150px;
		position: relative;
		transform: scaleX(-1);
		background-color: #55aa55;
	}
	.road4 {
		width: 150px;
		height: 150px;
		position: relative;
		background-color: #55aa55;
	  }
	.road5{
		width: 150px;
		height: 150px;
		position: relative;
		transform: scaleY(-1) rotateY(180deg);
		background-color: #55aa55;
	}
	.road6{
		width: 150px;
		height: 150px;
		position: relative;
		background-color: #55aa55;
		transform: scaleY(-1);
	}
	.ground {
		width: 150px;
		height: 150px;
		background-color: #55aa55;
		position: relative;
	  }
	.approach1{
		width: 150px;
		height: 150px;
		background-color: #55aa55;
		position: relative;
	}
	.approach2{
		width: 150px;
		height: 150px;
		background-color: #55aa55;
		position: relative;
		transform: rotate(90deg);
	}
	.approach3{
		width: 150px;
		height: 150px;
		background-color: #55aa55;
		position: relative;
		transform: rotate(180deg);
	}
	.approach4{
		width: 150px;
		height: 150px;
		background-color: #55aa55;
		position: relative;
		transform: rotate(270deg);
	}
	.car {
		width: 100px;
		height: 150px;
		position: absolute;
		left: 0px;
		top: 0px;
		transform: rotate(180deg) scaleY(0.5) scaleX(0.5);
	  }
	  /*body*/
	  .car #b {
		width: 100px;
		height: 150px;
		background: #dd6b4d;
		position: absolute;
		top: 5px;
		border-radius: 20%;
		left: 5px;
	  }
	  /*left top wheel*/
	  .car #ltw {
		width: 20px;
		height: 30px;
		background: black;
		position: absolute;
		top: 25px;
		border-radius: 10%
	  }
	  /*right top wheel*/
	  .car #rtw {
		width: 20px;
		height: 30px;
		background: black;
		position: absolute;
		top: 25px;
		left: 90px;
		border-radius: 10%
	  }
	  /*left bottom wheel*/
	  .car #lbw {
		width: 20px;
		height: 30px;
		background: black;
		position: absolute;
		top: 100px;
		border-radius: 10%
	  }
	  /*right bottom wheel*/
	  .car #rbw {
		width: 20px;
		height: 30px;
		background: black;
		position: absolute;
		top: 100px;
		left: 90px;
		border-radius: 10%
	  }
	  /*car left top light*/
	  .car #ltl {
		width: 16px;
		height: 13px;
		background-color: yellow;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border: 2px solid #ECA03D;
		border-bottom: relative;
		position: absolute;
		top: 0%;
		left: 10px;
		margin: 0px;
	  }
	  /*car right top light*/
	  .car #rtl {
		width: 16px;
		height: 13px;
		background-color: yellow;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border: 2px solid #ECA03D;
		border-bottom: relative;
		position: absolute;
		top: 0%;
		left: 80px;
		margin: 0px;
	  }
	  /*car left bottom light*/
	  .car #lbl {
		width: 16px;
		height: 5px;
		background-color: #992266;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border: 2px solid #ECA03D;
		border-bottom: relative;
		position: absolute;
		top: 150px;
		left: 15px;
		margin: 0px;
		transform: rotate(180deg)
	  }
	  /*car right bottom light*/
	  .car #rbl {
		width: 16px;
		height: 5px;
		background-color: #992266;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border: 2px solid #ECA03D;
		border-bottom: relative;
		position: absolute;
		top: 150px;
		left: 75px;
		margin: 0px;
		transform: rotate(180deg)
	  }
	  /*car front glass*/
	  .car #fg {
		width: 60px;
		height: 20px;
		background-color: #9966aa;
		transform: perspective(10px) rotateX(10deg);
		left: 25px;
		top: 39px;
		position: absolute;
	  }
	  /*back glass*/
	  .car #bg {
		width: 70px;
		height: 10px;
		background-color: #9966aa;
		transform: perspective(10px) rotateX(10deg);
		left: 20px;
		top: 135px;
		position: absolute;
	  }
	  /*right glass*/
	  .car #rg {
		width: 10px;
		height: 30px;
		background-color: #9966aa;
		transform: perspective(40px) rotateY(-45deg);
		left: 92px;
		top: 65px;
		position: absolute;
	  }
	  /*left glass*/
	  .car #lg {
		width: 10px;
		height: 30px;
		background-color: #9966aa;
		transform: perspective(40px) rotateY(45deg);
		left: 8px;
		top: 65px;
		position: absolute;
	  }
	  /*car top*/
	  .car #ct {
		width: 80px;
		height: 75px;
		background: #cc6b4d;
		position: absolute;
		top: 60px;
		left: 15px;
		border-radius: 20%;
	  }
	.wall {
		width:30px;
		height:150px;
		position: absolute;
		background: #707070;
		top: 150px;
		left: 450px;
		border: 3px solid #545454;
	}
	body {
		position: absolute;
	}