	#turn { 
		width: 25px;
		height: 25px;
		left: 25px;
		top:25px;
		background-color: transparent;
		border: 100px solid transparent;
		border-left:  100px solid grey;
		border-radius: 50%;
		transform: rotate(45deg);
		position: absolute;
	}
	/*left strip*/
	#ls { 
		width: 225px;
		height: 225px;
		top: 20px;
		left: 20px;
		background-color: transparent;
		border: 5px solid transparent;
		border-left:  5px solid #ffdd00;
		transform: rotate(45deg);
		border-radius: 50%;
		position: absolute;
	}
	/*right strip*/
	#rs { 
		width: 15px;
		height: 15px;
		left: 125px;
		top:125px;
		background-color: transparent;
		border: 5px solid transparent;
		border-left:  5px solid #ffdd00;
		transform: rotate(45deg);
		border-radius: 50%;
		position: absolute;
	}
	/*vertical*/
	#ver{
		width:100px;
		height:25px;
		left:25px;
		background-color:grey;
		bottom:0px;
		position:absolute;
	}
	/*left strip vertical*/
	#lsv{
		width:5px;
		height:25px;
		left:20px;
		background-color:#ffdd00;
		bottom:0px;
		position:absolute;
	}
	/*right strip vertical*/
	#rsv{
		width:5px;
		height:25px;
		right:20px;
		background-color:#ffdd00;
		bottom:0px;
		position:absolute;
	}
	/*horizontal*/
	#hor{
		width:25px;
		height:100px;
		right:0px;
		background-color:grey;
		top:25px;
		position:absolute;
	}
	/*left strip horizontal*/
	#lsh{
		width:25px;
		height:5px;
		right:0px;
		background-color:#ffdd00;
		top:20px;
		position:absolute;
	}
	/*right strip horizontal*/
	#rsh{
		width:25px;
		height:5px;
		right:0px;
		background-color:#ffdd00;
		top:125px;
		position:absolute;
	}
	#main {
	   left: 25px;
	   width: 100px;
	   height: 150px;
	   background-color: grey;
	   position: absolute;
	  }
	/*left strip for straight road*/
	#lss {
	   left: 20px;
	   width: 5px;
	   height: 150px;
	   background-color: #ffdd00;
	   position: absolute;
	  }
	/*right strip for straight road*/
	#rss {
	   right: 20px;
	   width: 5px;
	   height: 150px;
	   background-color: #ffdd00;
	   position: absolute;
	  }
	.road1{
		width: 150px;
		height: 150px;
		position: relative;
		background-color: #55aa55;
	}
	.road2 {
		width: 150px;
		height: 150px;
		position: relative;
		transform: rotate(90deg);
		background-color: #55aa55;
	}
	.road3{
		width: 150px;
		height: 150px;
		position: relative;
		transform: scaleX(-1);
		background-color: #55aa55;
	}
	.road4 {
		width: 150px;
		height: 150px;
		position: relative;
		background-color: #55aa55;
	  }
	.road5{
		width: 150px;
		height: 150px;
		position: relative;
		transform: scaleY(-1) rotateY(180deg);
		background-color: #55aa55;
	}
	.road6{
		width: 150px;
		height: 150px;
		position: relative;
		background-color: #55aa55;
		transform: scaleY(-1);
	}
	.ground {
		width: 150px;
		height: 150px;
		background-color: #55aa55;
		position: relative;
	  }